.skills {

}

.skills__icons {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 80px auto;
    /* padding-bottom: 100px; */
    color: white;
    font-size: 100px;
}