.skills {
  padding-left: 20px;
  padding-right: 20px;
}

.skills__icons {
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr; */

  max-width: 700px;
  margin: 80px auto;
  /* padding-bottom: 100px; */
  color: white;
  font-size: 100px;
}
/* .skills__icons i:nth-child(5),
.skills__icons i:nth-child(6),
.skills__icons i:nth-child(7) {
  grid-column: span 33%;
} */
.skills__icons div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 458px) {
  .skills__icons div {
    align-items: center;
    flex-direction: column;
  }
}

.skills__icons i{
  margin-top: 40px;
}

.skills__icons #PHASER{
  margin-top: 20px;
  margin-bottom: -20px;
}

/* .skills__icons i:hover{
 background-color: rgba(228, 217, 217, 0.209);
 border-radius: 50%;
} */

.mainGameIcons {
  display: flex;
  width: 90%;
  align-items: center;
  /* justify-content: center; */
  /* justify-content: space-between; */
  justify-content: space-around;
  align-items: flex-start;
}

/* .UNITY {
  align-items: center; */
/* margin-left: auto;
  margin-right: auto;
  width: 50%;
  align-self: center;
  justify-content: center;*/
/* }  */

/* .HTML5GAMES {
  align-items: center; */
/* margin-left: auto;
  margin-right: auto;
  width: 50%;
  align-self: center;
  margin-left: 50%;
  justify-content: space-between;

  justify-content: center;*/
/* }  */
/* 
.UNITYcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.HTMLcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
} */
